.header-color {
    color: lightgray;
    --background: rgb(2, 2, 58);
}
.content-color {
    --background:rgb(2, 2, 58);
}
.img-option {
    width: 400px;
    padding: auto;

}
.text-char {
    padding: auto;
    margin-top: 10px;
    font-style: italic;
}